# App (Prologue)
APP_DEBUG="true"
APP_PORT="8080"
APP_NAME="hf-b"
APP_KEY="Pr435ol67ogue"

# Database (Postgres)
DB_HOST=""
DB_USER=""
DB_PASS=""
DB_NAME=""

# Bucket (Huggingface)
HF_TOKEN=""
HF_REPO=""
